<div class='container'>

  <div class='row p-4'>
    <h3>マイページ</h3>
  </div>

  <div class='row'>
    <h4 class='col-2'>登録情報</h4>
    <%= link_to "編集する", customers_information_edit_path, class:'btn btn-outline-success col-2' %>
  </div>

  <div class='row py-2'>
    <table class='table table-bordered'>
      <tr>
        <td>氏名</td>
        <td><%= @customer.last_name %><%= @customer.fast_name %></td>
      </tr>
      <tr>
        <td>カナ</td>
        <td><%= @customer.kana_last_name %><%= @customer.kana_fast_name %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
    </table>
  </div>

  <div class='row pb-1'>
    <h4 class='col-2'>配送先</h4>
    <%= link_to "一覧を見る", shopping_addresses_path, class:'btn btn-outline-info col-2' %>
  </div>
  
  <div class='row pb-1'>
    <h4 class='col-2'>注文履歴</h4>
    <%= link_to "一覧を見る", orders_path, method: :get, class:'btn btn-outline-info col-2' %>
  </div>
</div>
