<div class="container m-5">
    <div class="row">
        <div class="col-md-2">
            <table class="table">
                <!--部分レイアウトで作成する-->
                <thead>
                    <tr>ジャンル検索</tr>
                </thead>
                <tbody>
                    <% @product_genres.each do |product_genre| %>
                    <tr>
                        <th>
                            <%= link_to "/" do %>
                            <%= product_genre.name %>
                            <% end %>
                        </th>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
            
        <div class="col-md-9 offset-1">
            <h4>商品一覧（全 <%= Product.count %> 件）</h4>
                <div class="row">
                    <% @products.each do |product| %>
                        <div class="col-md-3">
                            <%= image_tag product.get_image, size: '200x150' %>
                            <p><%= link_to product_path(product) do %><%= product.name %><% end %></p>
                            <p>¥<%= product.price %></p>
                        </div>
                    <% end %>
                </div>
        </div>
    </div>
</div>