<div class="container">
  <div class="row m-5">
    <div class="col">
      <h4>管理者ログイン</h4>
        <table class="table">
        <%= form_with model: @admin, url: admin_session_path do |f| %>
          <div class="field">
            <tr>
              <th><%= f.label :メールアドレス %></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
            </tr>
          </div>
            <div class="field">
            <tr>
              <th><%= f.label :パスワード %></th>
              <td><%= f.password_field :password, autocomplete: "current-password" %></td>
            </tr>
          </div>
          <div class="actions">
            <tr>
              <th></th>
              <th><%= f.submit "ログイン" %></th>
            </tr>
          </div>
        <% end %>
      </table>
      
      <%= render "admin/shared/links" %>
      
    </div>
  </div>
</div>