<div class="container">
    <div class="row">
        <div class="col">
            <h2><%= @customer.last_name %><%= @customer.fast_name %>さんの会員情報編集</h2>
            <table class="table">
                    <tr>
                        <th>会員ID</th>
                        <td><%= @customer.id %></td>
                    </tr>
                <%= form_with model:@customer, url:admin_customer_path(@customer), local:true,method: :patch do |f| %>
                    <tr>
                        <th><%= f.label :氏名 %></th>
                        <td><%= f.text_field :last_name %></td>
                        <td><%= f.text_field :fast_name %></td>
                    </tr>
                    <tr>
                        <th><%= f.label :フリガナ %></th>
                        <td><%= f.text_field :kana_last_name %></td>
                        <td><%= f.text_field :kana_fast_name %></td>
                    </tr>
                    <tr>
                        <th><%= f.label :郵便番号 %></th>
                        <td><%= f.text_field :postal_code %></td>
                    </tr>
                    <tr>
                        <th><%= f.label :住所 %></th>
                        <td><%= f.text_field :address %></td>
                    </tr>
                    <tr>
                        <th><%= f.label :電話番号 %></th>
                        <td><%= f.text_field :telephone_number %></td>
                    </tr>
                    <tr>
                        <th><%= f.label :メールアドレス %></th>
                        <td><%= f.text_field :email %></td>
                    </tr>
                    <tr>
                        <th><%= f.label :会員ステータス %></th>
                        <td>
                            <%= f.radio_button :is_deleted, false %>
                            <%= f.label :is_deleted, '有効', value: false %>
                            <%= f.radio_button :is_deleted, true %>
                            <%= f.label :is_deleted, '退会', value: true %>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <th><%= f.submit "変更を保存",method: :patch, class:'btn btn-success mb-2' %></th>
                    </tr>
                <% end %>
               
            </table>
        </div>
    </div>
</div>
