<div class="container">
  <div class="row">
    <div class="col">
      <h2>注文履歴一覧</h2>
        <table class="table">
          <thead>
            <tr>
                <th>購入日時</th>   
                <th>購入者</th>
                <th>注文個数</th>
                <th>注文ステータス</th>
            </tr>
          </thead>
                        
          <tbody>
              <% @customers.each do |customer| %>
            <tr>
                <!--仮で置いてます-->
                <th><%#= customer.orders.created_at %>※注文日時</th>
                <th><%= customer.last_name %><%= customer.fast_name %></th>
                <th><%#= customer.customer.order_details.quantity %>※注文個数</th>
                <th><%#= customer.customer.order_status. %>※注文ステータス</th>
            </tr>
            <% end %>
          </tbody>
        </table>
            <%= paginate @customers %>
          
        <br>
        <p>※作業用に仮で置いてます</p>
         <%= link_to "注文詳細履歴", "/admin/orders/1", method: :get %><br>
         <%= link_to "会員一覧", admin_customers_path, method: :get %><br>
         <%= link_to "会員詳細", "/admin/customers/1", method: :get %><br>
         <%= link_to "会員情報編集", "/admin/customers/1/edit", method: :get %><br>
         <% if admin_signed_in? %>
          adminとしてログイン中<%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          <% else %>
          ログインしていません<%= link_to "adminログインページへ", "/admin/sign_in" %>
         <% end %>
         
        </div>
    </div>
</div>
