<div class='container'>
  <div class="row">
   <div class="col-xs-12">
     <div>
       <strong class="information-link"><h3>ショッピングカート</h3></strong>
       <!-- カートを空にする機能とボタン  -->
        <%= link_to "カートを空にする", carts_destroy_all_path, method: :delete, class: "btn btn-success" %>
     </div>

     <table class="table">
      <thead>
        <tr>
         <th>商品名</th>
         <th>単価（税込）</th>
         <th>数量</th>
         <th>小計</th>
         <th></th>
        </tr>
      </thead>

      <tbody>
        <% @carts.each do |cart| %>
        <tr>

          <!--商品名-->
          <td><%= cart.product.name %></td>

          <!--単価（税込）-->
          <td><%= cart.product.with_tax_price %></td>

          <!--数量-->
          <td>
              <%= form_with model: cart,url: cart_path(cart.product.id), method: :patch, local: true do |f| %>
                <%= f.select :quantity, *[1..10] %><%= f.label :個 %>
                <%= f.submit :変更, class: 'btn btn-success' %>
              <% end %>
          </td>

          <!--小計-->
          <td>
            <%= cart.subtotal.to_s(:delimited) %> <!--to_s(:delimited)は数字を3桁数字にするもの-->
          </td>
          <!--合計金額を出すための計算式↓ each文の中で行うため、ここに記載。72行目に合計金額-->
            <% @total_price += cart.subtotal %>

          <!--削除ボタン-->
          <td>
            <%= link_to '削除する', cart_path(cart.id), method: :delete,  class: 'btn btn-success' %>
          </td>
        </tr>
        <% end %>
      </tbody>
      </table>
   </div>
  </div>


  <div class="row">

      <!--買い物を続けるボタン-->
      <%= link_to "買い物を続ける", products_path, class: "btn btn-success col-md-2" %>

      <!--合計金額のテーブル-->
    <table class="col-md-2 offset-md-8">
      <tr>
       <td>合計金額</td>
       <td>
         <%= @total_price.to_s(:delimited) %> <!--56行目に計算式ある、ここで表示。to_s(:delimited)は数字を3桁数字にするもの-->
       </td>
      </tr>
     </table>

  </div>


  <div class="row">
      <!--情報入力へ進むボタン product/oders/new-->
      <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success col-md-2 offset-md-5 mb-2"%>
  </div>



</div>



