<h4>ジャンル編集</h4>

<div class="form-genre">
<%= form_with model: [:admin, @genre], local: true do |f| %>
<%= render "error_messages", genre: @genre %>
  <%= f.label :ジャンル名 %>
  <%= f.text_field :name %>
  <%= f.submit :変更を保存, class: 'btn btn-success' %>
  <% end %>
</div>
