<div class='container'>
    
  <div class='row'>
    <h3>注文情報入力</h3>
  </div>
  
<%= form_with model: @order, local: true do |f| %>
  
  <h5>支払方法</h5>
  <div class='row flex-column ml-4 mb-2'>
    <div>
     <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
     <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card], value: Order.payment_methods.key(0) %>
    </div>
    <div>
      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:transfer], value: Order.payment_methods.key(1) %>
    </div>
  </div>
  
  <h5>お届け先</h5>
  <div class='row'>
    <!--customerの情報をデフォルトで取り込む-->
    <!--customerの配送先をプルダウンで選んで取り込む-->
    <!--フォーム内に新規配送用フォームを作る-->
  </div>
  
  <div>
    <%= f.submit :"確認画面へ進む", class:'btn btn-info' %>
  </div>
<% end %>
</div>

<a href="orders_check_path">確認画面リンク(作業用)</a>
<a href="orders_thanx_path">thanx画面リンク(作業用)</a>
<a href="orders_path">注文一覧画面リンク(作業用)</a>
<a href="order_path">注文詳細画面リンク(作業用)</a>
