<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class='navbar navbar-expand-md bg-dark'>
        <h2 class='justify-content-center'>
          <i class="fas fa-store text-light"></i>
          <% if admin_signed_in? %>
            <%= link_to 'ながのCAKE', admin_root_path, class:'text-light' %>
          <% else %>
            <%= link_to 'ながのCAKE', root_path, class:'text-light' %>
          <% end %>
        </h2>
        <div class='navbar-collapse justify-content-center'>
          <% if customer_signed_in? %>
            <p class='text-light'>ようこそ、<%= current_customer.last_name %>さん！</p>
          <% end %>
        </div>
        <div class='collapse navbar-collapse flex-column order-md-last align-items-end'>
          <ul class='nav navbar-nav ml-auto'>
            <% if customer_signed_in? %>
            <!--顧客がログインしているとき-->
            <li>
              <%= link_to customers_my_page_path, class:'nav-link text-light' do %>
                 <i class="fas fa-user"></i> マイページ
              <% end %>
            </li>
            <li>
              <%= link_to products_path, class:'nav-link text-light' do %>
                <i class="fas fa-gift"></i> 商品一覧
              <% end %>
            </li>
            <li>
              <%= link_to carts_path, class:'nav-link text-light' do %>
                <i class="fas fa-shopping-cart"></i> カート
              <% end %>
            </li>
            <li>
              <%= link_to destroy_customer_session_path, method: :delete, class:'nav-link text-light' do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>
            
            <% elsif admin_signed_in? %>
            <!--管理者がログインしているとき-->
            <li>
              <%= link_to admin_products_path, class:'nav-link text-light' do %>
                <i class="fas fa-gift"></i> 商品一覧
              <% end %>
            </li>
            <li>
              <%= link_to admin_customers_path, class:'nav-link text-light' do %>
                <i class="fas fa-users"></i> 会員一覧
             <% end %>
            </li>
            <li>
              <%= link_to admin_root_path, class: 'nav-link text-light' do %>
                <i class="far fa-list-alt"></i> 注文履歴一覧
              <% end %>
            </li>
            <li>
             <%= link_to admin_product_genres_path, class:'nav-link text-light' do %>
              <i class="fas fa-shopping-basket"></i> ジャンル一覧
             <% end %>
            </li>
            <li>
             <%= link_to destroy_admin_session_path, method: :delete,class:'nav-link text-light' do%>
               <i class="fas fa-sign-out-alt"></i> ログアウト
             <% end %>
            </li>
            
            <% else %>
              <!--ログインしていないとき-->
            <li>
              <%= link_to about_path, class:'nav-link text-light' do %>
                <i class="fas fa-bell"></i> About
              <% end %>
            </li>
            <li>
             <%= link_to products_path, class:'nav-link text-light' do %>
               <i class="fas fa-gift"></i> 商品一覧
             <%end%>
            </li>

             <li>
             <%= link_to new_customer_registration_path, class:'nav-link text-light' do %>
               <i class="fas fa-user-plus"></i> 新規登録
             <% end %>
            </li>
            <li>
              <%= link_to new_customer_session_path, class:'nav-link text-light' do %>
                <i class="fas fa-sign-in-alt"></i> ログイン
              <% end %>
            </li>
            <% end %>
          </ul>
          <!--検索フォーム-->
          <div>
            <%= form_tag("/", :method => "get") do %>
              <%= text_field_tag :search %>
              <%= submit_tag "Search", :username => nil, class:"btn btn-light" %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <div class='bg-dark p-auto py-4 text-white text-center'>
        <p>ながのCAKE <i class="fas fa-utensils"></i></p>
      </div>
    </footer>
  </body>
</html>
